node_modules
.vscode/settings.json
*.bat
*.sh
.env
databases.cfg
.scripts
.env.production
.idea

.local
.user
.bin

# Backup files containing personal information
backups/

# ignore apple 
*.DS_Store

# some script allowed
!build-once.sh

.augment