version: '3'
networks:
  l4d2stats-network:
    driver: bridge

services:
  mysql:
    image: mysql:8.4
    container_name: l4d2stats-db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=dbname
      - MYSQL_USER=dbuser
      - MYSQL_PASSWORD=dbpass
    networks:
      - l4d2stats-network
    restart: unless-stopped
  l4d2stats-api:
    build:
      context: ./website-api
      dockerfile: Dockerfile
    container_name: l4d2stats-api
    ports:
      - "8081:8081"
    volumes:
      - ./website-api:/backend
    environment:
      - NODE_ENV=production
      - MYSQL_HOST=mysql
      - MYSQL_DB=dbname
      - MYSQL_USER=dbuser
      - MYSQL_PASSWORD=dbpass
    networks:
      - l4d2stats-network
    depends_on:
      - mysql
    restart: unless-stopped
  l4d2stats-ui:
    build:
      context: ./website-ui
      dockerfile: Dockerfile
    container_name: l4d2stats-ui
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
    networks:
      - l4d2stats-network
    depends_on:
      - l4d2stats-api
    restart: unless-stopped

volumes:
  mysql-data:
